__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd
*.pkl

.env
.venv/
env/
venv/

*.log
docker-compose.override.yml
**/Dockerfile~  # случайные резервные файлы
**/airflow/airflow.cfg
**/airflow/unittests.cfg

airflow/logs/
airflow/plugins/
airflow/.airflowenv
airflow/.airflowignore
airflow/airflow.db
airflow/airflow-webserver.pid

pg_data/
postgres/data/

.vscode/
.settings/

.ansible/

.DS_Store
Thumbs.db

dist/
build/

pip-log.txt
pip-delete-this-directory.txt

*.retry

*.pem
.deploy_key*